/* style.css */
/* Stylesheet for basic TOP landing page */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body {
    font-family: 'Roboto', sans;
    background: #F9FAF8;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background: #1F2937;
    color: #F9FAF8;
    /* set up the flex columns for the header */
    display: flex;
    flex-direction: column;
    
}

.menu-bar {
        /* DEBUG */
        border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo {
    /* DEBUG */
    border: 1px solid red;
    height: fit-content;

}

ul {
    /* DEBUG */
    border: 1px solid red;

    list-style: none;
    margin: none;
    padding: none;
    
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.menu-bar, .hero-detail, .footer {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background: #3882F6;

}

.tile-desc {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.quote {
    background: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}

.modal {
    background: #3882F6;

}

.footer {
    /* text and color details */
    background: #1F2937;
    color: #F9FAF8;
    font-size: 12px;
    text-align: center;
    padding: 16px;

}

/* general formatting settings */
a {
    text-decoration: none;
    color: #F9FAF8;
}