/* style.css */
/* Stylesheet for basic TOP landing page */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body {
    font-family: 'Roboto', sans;
    background: #F9FAF8;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
}

.header {
    background: #1F2937;
    color: #F9FAF8;
    /* set up the flex columns for the header */
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo {
    height: fit-content;

}

ul {
    list-style: none;
    margin: none;
    padding: none;
    
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 16px;
    gap: 32px;
    text-align: left;

}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.hero-img {
    /* EDIT THIS AFTER FINAL LAYOUT */
    width: 400px;
    display: flex;
    flex-grow: 1;
}

.menu-bar, .hero-detail, .footer {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    /* buttons need their own font declared. they do not inherit from body? */
    font-family: Roboto, sans-serif;
    background: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 32px; 
    flex-grow: 0;
    margin: 16px 0px;
}

/* while we're working on buttons, add the border to the bottom button */
.signup-border-btn {
    border: 2px solid #F9FAF8;
}

.tile-desc {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 32px;
}

.tile-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 32px;
    margin-bottom: 32px;
}

.tile {
    width: 200px;
}

.thumbnail {
    border: 3px solid #3882F6;
    border-radius: 8px;
    
    /* thumbnail cropping and positioning code */
    object-fit: cover;
    object-position: top;
    width: 200px;
    height: 200px;
}

.quote {
    background: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}

.modal {
    background: #3882F6;
    display: flex;
}

.footer {
    /* text and color details */
    background: #1F2937;
    color: #F9FAF8;
    font-size: 12px;
    text-align: center;
    padding: 16px;

}

/* general formatting settings */
a {
    text-decoration: none;
    color: #F9FAF8;
}