/* style.css */
/* Stylesheet for basic TOP landing page */

/* import Roboto font and variations */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

/* general formatting */
body {
    font-family: 'Roboto', sans;
    background: #F9FAF8;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

/* subsection formatting */
.header {
    background: #1F2937;
    color: #F9FAF8;
    /* set up the flex columns for the header */
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo {
    height: fit-content;

}

ul {
    list-style: none;
    margin: none;
    padding: none;
    
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero {
    text-align: left;
    /* flex setup for hero */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 16px;
    gap: 32px;
    /* set wrap so that banner goes above text in small windows */
    flex-wrap: wrap-reverse;
    

}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.hero-left {
    width: 500px;
    /* make it so that the text block doesn't shrink */
    flex-shrink: 0;
}

.hero-image {
    /* make the image container grow with the page */
    display: flex;
    flex-grow: 1;
    min-height: 100px;
    /* set the width that the image pane takes up on the page */
    width: 40%;
}

.hero-image img {
    /* set banner image to scale with page but stop at 600px */
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: contain;
}

.menu-bar, .hero-detail, .footer {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    /* buttons need their own font declared. they do not inherit from body? */
    font-family: Roboto, sans-serif;
    background: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 32px; 
    flex-grow: 0;
    margin: 16px 0px;
}

.tile-desc {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 32px;
}

.tile-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 32px;
    margin-bottom: 32px;
    /* set wrapping for small windows */
    flex-wrap: wrap;
}

.tile {
    width: 200px;
}

.thumbnail {
    border: 3px solid #3882F6;
    border-radius: 8px;
    
    /* thumbnail cropping and positioning code */
    object-fit: cover;
    object-position: top;
    width: 200px;
    height: 200px;
}

.quote {
    background: #E5E7EB;
    color: #1F2937;
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    padding: 96px;
    text-align: left;
}

.quote-author {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    margin-top: 16px;
}

.modal {
    background: #3882F6;
    color: #F9FAF8;
    display: flex;
    margin: 64px;
    padding: 16px;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.alert-text {
    font-size: 20px;
    font-weight: bold;
}

.signup-border-btn {
    border: 2px solid #F9FAF8;
}

.footer {
    /* text and color details */
    background: #1F2937;
    color: #F9FAF8;
    font-size: 12px;
    text-align: center;
    padding: 24px;
}
